# Node modules
/node_modules
/server/node_modules
/client/node_modules

# Build artifacts
/client/build

# Environment files
.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/server/.env

# Logs
logs
*.log
npm-debug.log*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Testing
/client/coverage

# Caches
.npm
.client/.pnp
.client/.pnp.js
/server/.eslintcache

# OS files
.DS_Store
/client/.DS_Store
/server/.DS_Store
Thumbs.db
